<%= render "form", movie: @movie %>

<div class="button-19">
  <%= link_to "Show all movies", movies_path, class: "no-decoration" %>
</div>

<div class="button-19">
<%= link_to "Home", root_path, class: "no-decoration" %>
</div>
