<div class="footer">
  <div class="footer-links">
    <div>
      <a href="#"><i class="fab fa-github icon"></i></a>
      <a href="#"><i class="fab fa-instagram icon"></i></a>
      <a href="#"><i class="fab fa-facebook icon"></i></a>
      <a href="#"><i class="fab fa-twitter icon"></i></a>
      <a href="#"><i class="fab fa-linkedin icon"></i></a>
    </div>
  </div>
</div>
