<div class="banner">
  <div class="container">
    <h1>Welcome to Move 2 Movies</h1>
    <p>Rent movies from all over the world</p>
  </div>

<div class ="logo"></div>
</div>
<div class="btn btn-ghost">
  <%= link_to "Create a new movie", new_movie_path %>
</div>
<div class="btn btn-ghost">
  <%= link_to "Show all movies", movies_path %>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
