<div class="home-banner">
  <div class="container banner-font">
    <h1>Welcome to Move 2 Movies</h1>
    <p>Rent movies from all over the world</p>
  </div>
    <%= link_to "Get started", movies_path, class: "btn-flat s-blue" %>
</div>
