.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.top-margin-map {
  margin-top: 580px;
}

.bottom-margin-map {
  margin-bottom: 50px;
}

.corners {
  border-radius: 30px;
}
